{% extends 'base.html' %}

{% block title %}Players List{% endblock %}

{% block content %}
<h1 class="header center orange-text">Players List</h1>

<div class="row">
    <form method="get" class="col s12" id="filterForm">
        <div class="row">
            <div class="input-field col s3">
                <input type="text" name="q" id="search" value="{{ query|default_if_none:'' }}">
                <label for="search">Search by Name</label>
            </div>
            <div class="input-field col s2">
                <select name="country" id="country">
                    <option value="" disabled selected>Choose country</option>
                    {% for country in countries %}
                        <option value="{{ country }}" {% if country == country_filter %}selected{% endif %}>{{ country }}</option>
                    {% endfor %}
                </select>
                <label for="country">Filter by Country</label>
            </div>
            <div class="input-field col s2">
                <button type="submit" class="btn waves-effect waves-light">Search</button>
            </div>
            <div class="input-field col s2">
                <button type="button" class="btn waves-effect waves-light red valign-wrapper" onclick="clearFilters()">Clear Filters</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <table class="striped">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Link</th>
            </tr>
            {% for player in players %}                   
                <tr>
                    <td>{{ player.full_name }} <a href="{% url 'player_detail' player.id %}">view last matches</a></td>
                    <td>{{ player.country }}</td>
                    <td><a href="{{ player.url }}" target="_blank">See at cuetracker</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col s12 center">
        <ul class="pagination">
            {% if players.has_previous %}
                <li class="waves-effect">
                    <a href="?{% if query %}q={{ query }}&{% endif %}page=1">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="?{% if query %}q={{ query }}&{% endif %}page={{ players.previous_page_number }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% endif %}
                
            {% for page_num in players.paginator.page_range %}
                {% if players.number == page_num %}
                    <li class="active"><a href="#">{{ page_num }}</a></li>
                {% elif page_num > players.number|add:'-2' and page_num < players.number|add:'2' %}
                    <li class="waves-effect"><a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if players.has_next %}
                <li class="waves-effect">
                    <a href="?{% if query %}q={{ query }}&{% endif %}page={{ players.next_page_number }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="?{% if query %}q={{ query }}&{% endif %}page={{ players.paginator.num_pages }}">
                        <i class="material-icons">last_page</i>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#">
                        <i class="material-icons">last_page</i>
                    </a>
                </li>
            {% endif %}
        </ul>
        <span>Total pages amount: {{ players.paginator.num_pages }}</span>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
        elems.forEach(function(select) {
            select.addEventListener('change', function() {
                document.querySelector('form').submit();
            });
        });
    });
    
    function clearFilters() {
        document.getElementById("search").value = "";
        document.getElementById("country").value = "";
        document.getElementById("filterForm").submit();
    }
</script>
{% endblock %}
